:root {
    --theme-dark-first-color: #FF0070;
    --theme-dark-second-color: #DB00FF;
    --theme-dark-third-color: #F1B2CE;
    --theme-dark-background-color: rgb(0, 0, 40);
    --theme-dark-background-image: url("../images/cover-image-dark.png");
}

.theme-dark {
    background-color: var(--theme-dark-background-color);
}

.theme-dark .header.decorated-zone {
    background-image: var(--theme-dark-background-image);
}

.theme-dark .rec_and_menu {
    color: var(--theme-dark-first-color);
}

.theme-dark .rec_pict {
    display: block;
    width: 9px;
    height: 9px;
    background: var(--theme-dark-first-color);
    border-radius: 50%;
}

.theme-dark h1 {
    color: var(--theme-dark-second-color);
    text-shadow: 4px 4px var(--theme-dark-first-color);
}

.theme-dark .header_title {
    background-color: var(--theme-dark-first-color);
}

.theme-dark .section_title {
    color: var(--theme-dark-first-color);
}

.theme-dark .section_card-title {
    background-color: var(--theme-dark-first-color);
}

.theme-dark .card_content {
    color: var(--theme-dark-third-color);
}

.theme-dark .section_3_additional_title {
    background-color: var(--theme-dark-first-color);
}

.theme-dark .section_4 .section_title {
    background-color: var(--theme-dark-first-color);
    color: black;
}