:root {
    --theme-light-first-color: #FF8DCB;
    --theme-light-second-color: #FFC2E6;
    --theme-light-third-color: #353430;
    --theme-light-background-color: #FFF1F7;
    --theme-light-background-image: url("../images/cover-image-light.png");
}

.theme-light .rec {
    color: var(--theme-light-background-color);
}

.theme-light .header__theme-menu-list {
    color: var(--theme-light-third-color);
}

.theme-light {
    background-color: var(--theme-light-background-color);
}

.theme-light .header.decorated-zone {
    background-image: var(--theme-light-background-image);
}

.theme-light .rec_and_menu {
    color: var(--theme-light-first-color);
}

.theme-light .rec_pict {
    display: block;
    width: 9px;
    height: 9px;
    background: var(--theme-light-background-color);
    border-radius: 50%;
}

.theme-light h1 {
    color: var(--theme-light-second-color);
    text-shadow: 4px 4px var(--theme-light-first-color);
}

.theme-light .header_title {
    background-color: var(--theme-light-first-color);
}

.theme-light .section_title {
    color: var(--theme-light-third-color);
}

.theme-light .section_card-title {
    background-color: var(--theme-light-first-color);
}

.theme-light .card_content {
    color: var(--theme-light-third-color);
}

.theme-light .section_3_additional_title {
    background-color: var(--theme-light-first-color);
}

.theme-light .section_4 .section_title {
    background-color: var(--theme-light-first-color);
    color: black;
}