.theme-light .page {
    --main-color: #ff8dcb;
    --menu-color: #353430;
    --menu-hover: #32312d66;
    --rec-color: rgba(0, 0, 0, 0);
    --title-color: #353430;
    --subtitle-color: #353430;
    --header-title-color: #353430;
    --header-color: #ffc2e6;
    --header-shadow-color: #ff0070;
    --content-color: #353430;
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
}

.theme-light .rec::after {
    display: none;
}

.theme-light .rec {
    color: var(--rec-color);
}

@media (prefers-color-scheme: light) {
    .theme-auto .page {
        --main-color: #ff8dcb;
        --menu-color: #353430;
        --menu-hover: #32312d66;
        --rec-color: rgba(0, 0, 0, 0);
        --title-color: #353430;
        --subtitle-color: #353430;
        --header-title-color: #353430;
        --header-color: #ffc2e6;
        --header-shadow-color: #ff0070;
        --content-color: #353430;
        --background-color: #fff1f7;
        --background-image: url("../images/cover-image-light.png");
    }

    .theme-auto .rec::after {
        display: none;
    }

    .theme-auto .rec {
        color: var(--rec-color);
    }
}