@media (min-width: 768px) {
    .header.decorated-zone {
        height: 1024px;
        padding: 0 20px;
    }

    .header__theme-menu {
        margin-top: 146px;
    }

    .h1_header {
        margin-top: 173px;
    }

    h1 {
        font-size: 120px;
        line-height: 99px;
    }

    .header_title {
        max-width: 364px;
        margin-top: 162px;
        justify-self: end;
    }

    .section:first-child {
        margin-top: 60px;
    }

    .section {
        margin-top: 80px;
        padding: 0 20px;
    }

    .section.section_1,
    .section.section_3 {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 20px;
    }

    .section_1 .section_title,
    .section_2 .section_title,
    .section_3 .section_title {
        width: 236px;
    }

    .section_1 .section_card-list_item:first-child,
    .section_3 .section_3_additional_container .section_3_additional_title {
        margin-top: 0;
    }

    .section_1 .card_content,
    .section_3 .section_3_additional_container {
        width: min(1144px, calc(100vw - 296px));
    }

    .images_container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .sunset_img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ice-cream_img {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .tape_img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .books_img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .street_img {
        object-fit: cover;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}