@media (min-width: 1024px) {

    .header.decorated-zone {
        height: 768px;
        padding: 0 20px;
    }

    .header__theme-menu-item:not(:first-child) {
        margin-top: 0;
    }

    .rec_and_menu {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-self: unset;
        justify-content: space-between;
    }

    .header__theme-menu-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;
    }

    .rec {
        margin-top: 0;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .header__theme-menu {
        margin-top: -25px;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .h1_header {
        min-width: 364px;

        margin-top: 273px;
    }

    h1 {
        font-size: 157px;
        line-height: 129.53px;
    }

    .header_title {
        min-width: 491px;
        margin-top: 162px;
        justify-self: end;
    }

    .section.section_2 .section_title {
        width: 315px;
    }

    .section.section_2 .section_card-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;
    }
}