.page {
    background-color: var(--background-color);
    /*странно, в макете фон не на всю страницу*/
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header__theme-menu-list {
    color: var(--menu-color);
    list-style: none;
}

.header__theme-menu-button {
    text-transform: lowercase;
    font-family: IBM Plex Mono, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid currentColor;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
    outline: 1px solid transparent;
}

.header__theme-menu-button:hover {
    border-bottom: currentColor;
    outline: 1px solid var(--menu-hover);
}

.rec {
    position: absolute;
    right: 38px;
    top: 10px;
    color: var(--rec-color);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}

.rec::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    right: -19px;
    top: 8px;
    background: var(--main-color);
    box-shadow: 0 0 4px 2px var(--main-color);
    border-radius: 50%;
}

h1 {
    color: var(--header-color);
    text-shadow: 4px 4px var(--header-shadow-color);
    font-family: IBM Plex Mono, sans-serif;
    font-weight: 700;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: lowercase;
}

h1.footer_main_title {
    text-shadow: 2px 2px var(--header-shadow-color);
}

h2 {
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h3,
h4 {
    font-family: IBM Plex Mono, sans-serif;
    color: var(--h3-h4-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header {
    height: 100vh;
    min-height: 668px;
    display: grid;
    gap: 55px;
    grid-template-rows: 1fr min-content 1fr;
}

.header_title {
    background-color: var(--main-color);
    color: var(--header-title-color);
    font-family: IBM Plex Mono, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    justify-self: center;
    align-self: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: var(--corner-color);
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-color: var(--corner-color);
    border-width: 1px 1px 0 0;
    border-style: solid;
}

.section_title {
    color: var(--title-color);
}

.section_card-title {
    background-color: var(--main-color);
}

.card_content {
    color: var(--content-color);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section_better_concentrate .section_card-title {
    font-weight: 400;
}

.section_better_concentrate_additional_title {
    background-color: var(--main-color);
}

.link {
    color: var(--content-color);
    text-shadow: 1px 1px 0 var(--main-color);
    text-decoration: none;
}

.link:focus {
    outline: none;
}

.link:focus-visible {
    border-bottom: currentColor;
    outline: 1px solid var(--content-color);
}

.link:hover {
    border-bottom: 1px solid;
    text-decoration-color: var(--content-color);
}

.image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.section_in_images .section_title {
    background-color: var(--main-color);
    color: black;
}

.footer {
    height: 100vh;
    min-height: 668px;
    display: grid;
    justify-items: center;
    align-items: center;
}

@media (min-width: 375px) {
    .decorated-zone::before {
        left: 10px;
        bottom: 10px;
    }

    .decorated-zone::after {
        right: 10px;
        top: 10px;
    }

    .header.decorated-zone {
        padding: 0 10px;
    }

    .header__theme-menu {
        /*я понял идею, но к сожалению, только лишь выравниванием внутри сетки мне не удалось удовлетворить макет*/
        margin-top: 60px;
        margin-right: 8px;
        justify-self: end;
        align-self: center;
    }

    .header__theme-menu-item:not(:first-child) {
        margin-top: 16px;
    }

    h1 {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        line-height: 95.7px;
    }

    .section {
        margin-top: 50px;
        padding: 0 10px;
    }

    .section.section_hard_concentrate {
        margin-top: 40px;
    }

    .section_better_concentrate_additional_title {
        margin-top: 20px;
    }

    .section_card-list_item {
        margin-top: 20px;
    }

    .card_content {
        margin-top: 10px;
    }

    .images_container {
        margin-top: 10px;
        display: grid;
        grid-template-rows: repeat(5, min-content);
        gap: 10px;
    }

    .footer {
        margin-top: 40px;
    }

    .footer_main_title {
        align-self: center;
    }
}

@media (min-width: 768px) {
    .decorated-zone::before {
        left: 20px;
        bottom: 20px;
    }

    .decorated-zone::after {
        right: 20px;
        top: 20px;
    }

    .header.decorated-zone {
        padding: 0 20px;
        min-height: 1024px;
    }

    .rec {
        right: 48px;
        top: 20px;
    }

    .header__theme-menu {
        margin-top: 70px;
    }

    .header_main_title {
        margin-left: -20px;
    }

    h1 {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        line-height: 99px;
    }

    .header_title {
        max-width: 364px;
        margin-top: 108px;
        justify-self: end;
    }

    .section:first-child {
        margin-top: 60px;
    }

    .section {
        margin-top: 80px;
        padding: 0 20px;
    }

    .section.section_hard_concentrate,
    .section.section_better_concentrate {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        gap: 20px;
    }

    .section_hard_concentrate .section_title,
    .section_reduce_concentrate .section_title,
    .section_better_concentrate .section_title {
        width: 236px;
    }

    .section_hard_concentrate .section_card-list_item:first-child,
    .section_better_concentrate .section_better_concentrate_additional_container .section_better_concentrate_additional_title {
        margin-top: 0;
    }

    .section_hard_concentrate .card_content,
    .section_better_concentrate .section_better_concentrate_additional_container {
        width: min(1144px, calc(100vw - 296px));
    }

    .images_container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
    }

    .sunset_img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .ice-cream_img {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .tape_img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .books_img {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .street_img {
        object-fit: cover;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .footer {
        margin-top: 60px;
    }

    .footer_main_title {
        align-self: center;
    }
}

@media (min-width: 1024px) {
    .header.decorated-zone {
        min-height: 768px;
    }

    .header__theme-menu {
        margin-top: 20px;
        margin-right: 0;
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-item:not(:first-child) {
        margin-top: 0;
    }

    .header__theme-menu-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 25px;
    }

    .header_main_title {
        min-width: 364px;
    }

    .header_title {
        margin-top: 75px;
        align-self: start;
        min-width: 491px;
    }

    .section_title {
        min-width: 315px;
    }

    .section_hard_concentrate .section_card-list,
    .section.section_better_concentrate .section_better_concentrate_additional_container {
        max-width: calc(100% - 80px);
    }

    .card_content {
        max-width: 100%;
    }

    .section.section_reduce_concentrate .section_card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: space-between;
    }

    .footer_main_title {
        align-self: end;
        margin-bottom: 335px;
    }
}
